@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#card .custom-button {
  display: block;
  margin: 0 auto;
  padding: 16px 48px;
  background-color: #00df9d;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 2px solid #00df9d;
  cursor: pointer;
  border-radius: 22px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: auto;
  transition: background-color 0.3s, color 0.3s;
}

#card .custom-button:hover {
  background-color: transparent;
  color: #00df9d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
